<form action="/form" method="post">
  <input type="text" name="message" />
  <input type="submit" />
</form>

<table>
      <% @hi.each do |hello| %>
      <tr>
        <td><%= hello.id %></td>
        <td><%= hello.content %></td>
        <td><form action="/<%= hello.id %>" method="post">
          <input type="submit">
          </form>
        </td>
    </tr>
      <% end %>
</table>

<!-- <form action="/delete" method="post">
  <input type="text" name="id" />
  <input type="submit" />
</form> -->
