<form action="/form" method="post">
  <input type="text" name="message" />
  <input type="submit" />
</form>

<table>
  <form action="/delete" method="post">
    <% @hi.each do |hello| %>
    <tr>
      <td><%= hello.content %></td>
      <td>
        <input type="checkbox" value="<%= hello.id %>" name="deleteMe[]" />
      </td>
    </tr>
    <% end %>
    <tr>
      <td><input type="submit" value="Delete" /></td>
    </tr>
  </form>
</table>
